name: Lint
on: [ pull_request, push ]
jobs:
  build:
    if: github.event.pull_request.user.type != 'Bot' && !contains(github.event.pull_request.labels.*.name, 'skip-ci')
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10" ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Isort, Black, and Flynt
        run: pip install -U pip isort black flynt
      - name: Run Isort
        run: isort ./ --profile black
      - name: Run Black
        run: black ./ --line-length=100
      - name: Run Flynt
        run: flynt ./ -tc
      - name: Setup Git
        run: |
          git config user.name "Automated Linter"
      - name: Push To Git
        continue-on-error: true
        run: |
          git pull
          git add ./
          git commit --reuse-message=HEAD
          git push